body{
    padding: 0;
    margin: 0;
    font-family: 'poppins', serif;
} 
#h1{
    font-size: 60px;
    line-height: 70px;


}
.hero-section{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 150px;
    
}

.half-width{
    width: 50%;
    margin-left: 10%;
}
.half-width img{
    width: 60%;
    
}
.text-color{
    color: orange;
}
.border-left{
    border-left: 3px solid orange;
} 
.border-left h1{
    margin-left: 8px;
} 
.half-width p{
    font-size: 18px;
    line-height: 30px;
    margin-bottom:30px;
    font-family: 'poppins', sans-serif;


}
.btn{
    color: white;
    text-decoration: none;
    background-color: red;
    padding: 8px 25px;
    border-radius:5px;
}
.para{
    color:rgb(255, 169, 169);
    font-size: 18px;
    line-height: 30px;
    font-family: 'poppins', sans-serif;
    margin-top: 30px;

}
.flex{
    display: flex;
}
.sec-2{
    width:;
    align-items: center;
    justify-content:;
    margin: 5% 10%;
    margin-bottom: 150px;  
}
#my-mission{
    text-align: center;
    font-size: 40px;
}
.box-style{
    background-color: gray;
    padding:30px ;
    border-radius: 30px;
}
.box-style p{
    font-family: 'poppins', sans-serif;

}
#margin{
    margin: 0px 20px;
}
.box-style img{
    width:50%;
}
.box-color-1{
    background-color:rgb(252, 230, 230);
}
.box-color-2{
    background-color:rgb(255, 214, 214);

}
.box-color-3{
    background-color:rgb(202, 178, 178);
}

.sec-3{
    
    align-items: center;
    margin: 5% 10%;
    margin-bottom: 150px;  
}

.sec-3 img{
    width:90%;
}
.sec-width-1{
    width: 40%;
}
.sec-width-2{
    width: 60%;
}
.sec-width-2 h1{
    color:red;
    font-size: 40px;
    line-height: 40px;
}
/*Section 04 */
.sec-4{
    align-items: center;
    margin: 5% 10%;
    margin-bottom: 150px;  
}
.sec-width-3{
    width: 60%;
}
.sec-width-4{
    width: 40%;
}
.sec-width-4 img{
    width: 90%;
}

.f-item{
    height: 150px;
    text-align: center;
    background-color: rgb(46, 44, 44);
}
.footer h1{
    color:white;
    font-size: 30px;
    line-height:30px;
    padding-top: 50px;

}
.footer p{
  font-size: 16px;
  font-family: 'poppins', sans-serif;
  color: rgb(197, 197, 197);

}


